includes:
	- phpstan-baseline.php

parameters:
	level: 9
	paths:
		- src
	excludePaths:
		analyse:
			- src/libs/*
	reportUnmatchedIgnoredErrors: false
	checkGenericClassInNonGenericObjectType: false
	treatPhpDocTypesAsCertain: false
	checkMissingIterableValueType: false