includes:
	- phpstan-baseline.php

parameters:
	level: 9
	paths:
		- src
	excludePaths:
		analyse:
			- src/libs/*
	ignoreErrors:
		-
			identifier: missingType.iterableValue
		-
			identifier: missingType.generics
	reportUnmatchedIgnoredErrors: false
	treatPhpDocTypesAsCertain: false